<div class="page">
    <div *ngIf="currentUser.exists == null; else userLoaded">

    </div>
    <ng-template #userLoaded>
        <div *ngIf="currentUser.exists == false; else userExists">
            <div class="nouser-header">
                <div class="user-welcome">You must be logged in to view your dashboard.</div>
                <div class="button dark-button">Log In</div>
            </div>
        </div>
        <ng-template #userExists>
            <div *ngIf="currentUser.exists == true && currentUser.disabilities.length == 0; else defaultBlock" >
                <div class="user-header">
                    <div *ngIf="currentUser.name; else noName" class="user-welcome">Hi, {{currentUser.name}}!</div>
                    <ng-template #noName>
                        <div class="user-welcome">Hi, New User!</div>
                    </ng-template>
                </div>
                <div class="no-info">
                    <div>You haven't entered any disabilities yet. Create your profile here.</div>
                    <div (click)="goToSelection()" class="begin-button button dark-button">Begin</div>
                </div>
                
            </div>
            <ng-template #defaultBlock>
                <div class="user-header">
                    <div *ngIf="currentUser.name; else noName" class="user-welcome">Hi, {{currentUser.name}}!</div>
                    <ng-template #noName>
                        <div class="user-welcome">Hi, New User!</div>
                    </ng-template>
                    <div class="header-buttons">
                        <div class="edit-button button dark-button" (click)="goToEdit()">Edit</div>
                        <div class="export-button button dark-button" (click)="openExport()">Export</div>
                    </div>
                </div>
                <ng-template ngFor let-item [ngForOf]="currentUser.disabilities" let-i="index">
                    <div class="disability-card">
                        <div class="card-main">
                            <div class="card-name">{{currentUser.disabilities[i].name}}</div>
                            <div class="symptoms">
                                <ul class="header-list">
                                    <li class="card-header">
                                        Symptoms
                                    </li>
                                </ul>
                                <ul class="item-list">
                                    <div *ngIf="currentUser.disabilities[i].symptoms.length == 0; else symptomsList">
                                        <li>None</li>
                                    </div>
                                    <ng-template #symptomsList>
                                        <li *ngFor="let symptom of currentUser.disabilities[i].symptoms">{{symptom.name}}</li>
                                    </ng-template>
                                </ul>
                            </div>
                            <div class="accommodations">
                                <ul class="header-list">
                                    <li class="card-header">
                                        Accommodations
                                    </li>
                                </ul>
                                <ul class="item-list">
                                    <div *ngIf="currentUser.disabilities[i].accommodations.length == 0; else accommodationsList">
                                        <li>None</li>
                                    </div>
                                    <ng-template #accommodationsList>
                                        <li *ngFor="let accommodation of currentUser.disabilities[i].accommodations">{{accommodation.name}}</li>
                                    </ng-template>
                                </ul>
                            </div>
                            <div class="delete button red-button" (click)="deleteDisability(i)">
                                <div class="delete-text">Delete</div>
                                <img src="../../assets/trash-icon.png" class="delete-icon" alt="delete icon"/>
                            </div>
                        </div>
                        <div *ngIf="currentUser.disabilities[i].extrainfo != ''" class="card-note">
                            {{currentUser.disabilities[i].extrainfo}}
                        </div>
                    </div>
                </ng-template>

                
                <div *ngIf="popupActive" (after-if)="setSliders()" class="popup-container">
                    <div class="popup">
                        <div class="popup-text-container">
                            <div class="popup-text">How would you like to export your disability information?</div>
                            <button class="close-button"(click)="closeExport()">X</button>
                        </div>
                        <div class="explanation">
                            Choose which optional elements you would like to include on your page:
                        </div>
                        <div class="center sliders-extra-container">
                            <div class="sliders">
                                <div class="slider-container">
                                    <label class="switch">
                                        <input id="qrSlider" type="checkbox"  (click)="onQRSliderClick()" aria-label="public profile">
                                        <!-- <input id="qrSlider" type="checkbox" [checked]="useQR" value="useQR" aria-label="public profile"> -->
                                        <span class="slider"></span>
                                    </label>
                                    <div class="label-text">QR code</div>
                                </div>
                                <div class="slider-container">
                                    <label class="switch">
                                        <input id="nameSlider" type="checkbox" (click)="onNameSliderClick()" aria-label="public profile">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="label-text">Name</div>
                                </div>
                                <div class="slider-container">
                                    <label class="switch">
                                        <input id="testSlider" type="checkbox"  (click)="onTestimonialSliderClick()" aria-label="public profile">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="label-text">Testimonials</div>
                                </div>
                                <div *ngIf="setSliders()"></div> 
                                <!-- doing this to make sure it gets called after all elements have been loaded. I hate it as much as you do-->
                            </div>
                        </div>
                        <div class="explanation">
                            Select an export type to download your IDEA Card:
                        </div>

                        <div class="export-container">

                            <div class="export">
                                <button class="button dark-button popup-export-buttons" (click)="exportPDF()">PDF</button>
                                <div class="export-text">with testemonials</div>
                            </div>
                            <div class="export">
                                <button class="button dark-button popup-export-buttons" (click)="exportBusinessCard()">Buisness Card</button>
                                <div class="export-text">without testemonials</div>
                            </div>
                            <div class="export">
                                <button class="button dark-button popup-export-buttons" (click)="exportQR()">QR Code</button>
                                <div class="export-text">with testemonials</div>
                            </div>
                            
                        </div>
                        <div class="disclaimer-text">Disclaimer: This data is NOT protected by HIPAA.</div>
                    </div>
                </div>

                <div *ngIf="publicProfileConfirmationActive" class="popup-container">
                    <div class="confirmation">
                        <div class="confirmation-text">I understand that, by adding a QR code to my IDEA Card, a public profile will be generated.</div>
                        <div class="confirmation-buttons">
                            <button class="confirmation-button confirmation-cancel" (click)="closeConfirmationCancel()">Cancel</button>
                            <button class="confirmation-button dark-button" (click)="closeConfirmationAccept()">Accept</button>
                        </div>
                    </div>
                </div>

                <div class="centered-flex">
                    <div (click)="goToSelection()" class="begin-button button dark-button">Select Other Disabilities</div>
                </div>
            </ng-template>
        </ng-template>
        
    </ng-template>
    
</div>