<div class="page">
    <div class="about">
        <div class="main-banner">
            <img src="../../assets/main-page.png" class="left-img"/>
            <img src="../../assets/main-icon.png" class="right-img"/>
        </div>
        <div class="getstarted">
            <div (click)="getStarted()" class="button dark-button">Get Started</div>
        </div>
    </div>
    
    <div class="mission">
        <p>Here is our mission statement, more info about what exactly our project can do / is used for, which SDGs we are targeting, maybe links or buttons to GDSC info?</p>
    </div>
</div>