<div class="page">
    <div class="about">
        <div class="main-banner">
            <img src="../../assets/main-page.png" class="left-img"/>
            <img src="../../assets/main-icon.png" class="right-img"/>
        </div>
        <div class="getstarted">
            <div (click)="getStarted()" class="button dark-button">Get Started</div>
        </div>
    </div>
    
    <div class="mission">
        <p>According to the UN’s article on “Disability and Employment”, “persons with disabilities are frequently not considered potential members of the workforce,” due to myths, fear, and prejudice against disabled candidates. Despite these perceptions, “many companies have found that persons with disabilities are more than capable.”
            
            </p><p>Global business newsletters target the misinformation of employers as the largest obstacle to inclusive employment. Our goal is to provide a uniform platform for job candidates to inform employers about their condition in a straightforward and objective manner.

            </p><p>IDEA Card is a resource for people with disabilities who are searching for a properly accommodating job, allowing them to input personalized data for their disabilities, form them into several easy-to-access “cards” and show them to managers. These cards can take the form of a business card, resume add-on, or even just displayed on a phone screen. Our goal is for users to feel comfortable and confident, both when using our app and when presenting their informational card to potential employers.
            </p>
    </div>
</div>