<div class="page">
    <div class="about">
        <p>Big visuals / Minimal text about IDEA card (maybe as simple as "generate your custom disability profile")</p>
    </div>
    <div class="getstarted">
        <div (click)="getStarted()" class="button dark-button">Get Started</div>
    </div>
    <div class="mission">
        <p>Here is our mission statement, more info about what exactly our project can do / is used for, which SDGs we are targeting, maybe links or buttons to GDSC info?</p>
    </div>
</div>