.testimonial-header {
    font-size: calc(2vw + 4vh);
    font-weight: var(--bold);
}

.link-text {
    font-size: calc(.75vw + 1vh);
}

.testimonials-container {
    width: 100vw;
}

.testimonials {
    width: 73vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonial {
    display: inline;
    /* width: 250px; */
    width: max(300px, 30vw);
    height: 20vh;
    margin: 2vh 2vw;
    font: poppins;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0 0 5px rgb(177, 177, 180);
    padding: 10px;
    position: relative;
}

.testimonial-text {
    font-size: 15px;
    margin-bottom: 1.5vh;
}

.testimonial-bold {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    font-weight: var(--bold);
    font-size: 18px;
}