
<!-- left image stuff -->
<div class="register-page">

    <div class="fun-image">
        
    </div> 
    
    <div class="page register">
        <div class="center">
            <div class="form-container">
                <div class="welcome-text">Welcome!</div>
                <div class="welcome-text">Register your account</div>
                <input id="nameInput" type="text" class="register-input" placeholder="Name" aria-label="name input text">
                <input id="emailInput" type="text" class="register-input" placeholder="Email" aria-label="name input text">
                <input id="passwordInput" type="password" class="register-input" placeholder="Password" aria-label="name input text">
                <input id="reenterPasswordInput" type="password" class="register-input" placeholder="Re-enter Password" aria-label="name input text">
                <input id="countryInput" type="text" class="register-input" placeholder="Country" aria-label="name input text">
                
                <div>
                    <select id="languageSelector" class="register-input language-select">    
                        <option selected disabled hidden>Select Language</option>
                        <option value="english">English</option>
                    </select>                    
                </div>

                <div class="disclaimer-text"><em>Disclaimer: This is NOT HPAA protected.</em></div>
                <button class="dark-button register-button" (click)="register()">Register</button>
            </div>
        </div>
    </div>
</div>