<div class="register-page">

  <div class="fun-image">
      
  </div> 
  
  <div class="page register">
      <div class="center">
          <div class="form-container">
              <div class="welcome-text">Welcome!</div>
              <div class="welcome-text">Register your account</div>
              <input id="nameInput" type="text" class="register-input" placeholder="Name" aria-label="name input text">
              <input id="passwordInput" type="text" class="register-input" placeholder="Password" aria-label="name input text">
          
              <div class="disclaimer-text"><em>Disclaimer: This is NOT HPAA protected.</em></div>
              <button class="dark-button register-button" (click)="submit()">Register</button>
          </div>
        </div>
    </div>
</div>