
<main class="main">
  <div class="content">
    <div class="title">
      DVisibility
    </div>
    <a routerLink="/info" routerLinkActive="active" ariaCurrentWhenActive="page" class="link">
      Info
    </a>
    <a routerLink="/testimonials" routerLinkActive="active" ariaCurrentWhenActive="page" class="link">
      Testimonials
    </a>
    <a href="/contact" class="link">
      Contact Us
    </a>
    <a href="/login" class="link">
      Log In
    </a>
  </div>
</main>

<router-outlet />
